@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-top: 50px;
  padding: 60px;
  background-color: rgb(220 255 218 / 53%);
}
@media screen and (max-width: 468px) {
  .main-container {
    padding-top: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.header {
  font-family: "Alumni Sans Inline One", sans-serif;
  font-size: 6rem;
  text-align: center;
  animation: tilt-n-move-shaking 3s cubic-bezier(0.35, 0.32, 0.69, 0.83)
    infinite;
  animation-delay: 3s;
  color: #023e30;
}
@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

@media screen and (max-width: 468px) {
  .header {
    font-size: 5rem;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }
}

.question h1 {
  color: black;
  background-color: #204026;
  color: #f3fff3;
  border-radius: 1rem;
  padding: 20px;
  font-weight: lighter;
  text-align: center;
}

/* Media query for screens smaller than 600px */
@media screen and (max-width: 600px) {
  .question h1 {
    font-size: 24px;
  }
}

.question-state {
  font-size: small;
  font-family: ;
}

.question-image {
  display: flex;
  justify-content: center;
}

.question-image-img {
  width: 15rem;
  height: 12rem;
}

.youtube-video {
  display: flex;
  justify-content: center;
}

.answer ul {
  padding: 0;
}

.answer-option {
  list-style: none;
  cursor: pointer;
  padding: 20px;
  margin: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 2px solid #142918;
  font-size: 20px;
  /* max-width: 600px;  */
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 800px) and (max-width: 2140px) {
  .answer-option {
    max-width: 800px;
  }
}

.answer-option:hover {
  background-color: #e0e0e0;
}

/* Stilar för valt korrekt svar */
.answer-option.correct.selected {
  background-color: #b0e9ad;
}

/* Stilar för valt felaktigt svar */
.answer-option.wrong.selected {
  background-color: #e73c27;
}

/* Stilar för korrekt svar när felaktigt svar är valt */
.answer-option.correct.correct-selected {
  background-color: #e3e084;
}

.text-center {
  text-align: center;
}

.question-summary {
  background-color: rgb(253 253 253 / 78%);
  margin: 2rem;
  padding: 2rem;
}

.question-summary h2 {
  padding: 10px;
  font-weight: lighter;
  text-align: center;
  margin: 1rem;
}

.question-correct {
  border-radius: 2px;
  padding: 8px;
  font-size: 20px;
}

.restart-btn {
  display: flex;
  justify-content: center;
}

.question-summary button {
  background-color: #fffb8e;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  font-family: "Alumni Sans Inline One", sans-serif;
  border-radius: 1rem;
  margin-top: 1rem;
}
.question-summary button:hover {
  background-color: #fffca7;
}
